<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CANBUS</title>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <p class="navbar-brand">
<!--            <img src="static/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
            PROMTECH
        </p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Main page</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTM" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Terminals
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownTM">
<!--                <li><a class="dropdown-item" id="tm1" href="/terminal/1/">TM1</a></li>-->
<!--                <li><a class="dropdown-item" href="/terminal/2/">TM2</a></li>-->
<!--                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addterminal" id="addtermlink">Add terminal</a></li>-->
              </ul>
            </li>
          </ul>
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addterminal" id="addtermlink">Add new terminal</button>
        </div>
      </div>
    </nav>
{%block terminalsContent%}
{%endblock%}
<!-- Modal -->
    <div class="modal fade" id="addterminal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new terminal</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="terminal-nunmber" class="col-form-label">Terminal number:</label>
                <input type="text" class="form-control" id="terminal-nunmber">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="addterminalbtn">Add</button>
          </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    const itemList = document.querySelector(".dropdown-menu");
    const items = [];
    const forLngth = [];
    var lastDataOnTm = JSON.parse(localStorage.getItem("dictData")) || [];
    function displayItems(items, itemList) {
        //itemList.innerHTML = items
        for (let i = 0; i < localStorage.length; i++) {
            const key = localStorage.key(i);
            if (key.includes("newlink")) {
                forLngth.push(1)
            }
        }
        for (let i = 0; i < forLngth.length; i++) {
            const key = localStorage.key(i);
            const value = localStorage.getItem(key);
            //console.log(key, value);
            const nodeList = document.createElement("li");
            const nodeA = document.createElement("a");
            nodeA.className = 'dropdown-item';
            nodeA.id = "tm" + (i+1);
            nodeA.setAttribute('href', "/terminal/" + (i + 1) + "/");
            const nodeName = document.createTextNode("TM" + (i + 1));
            nodeA.appendChild(nodeName);
            nodeList.appendChild(nodeA);
            nodeList.addEventListener(
                'click', function(e) {
                    var target = e.target;
                    alert($('#t1vcan0value').val())
                    var dataVcan0Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan0value').val());
                    var dataVcan1Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan1value').val());
                    var dataVcan2Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan2value').val());
                    var dataVcan3Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan3value').val());
                    var dataVcan4Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan4value').val());
                    var dataVcan5Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan5value').val());
                    var dataVcan6Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan6value').val());
                    var dataVcan7Save = parseFloat($('#t' + nodeA.id.slice(-1) + 'vcan7value').val());
                    var dataVcanSaveList = [
                          dataVcan0Save,
                          dataVcan1Save,
                          dataVcan2Save,
                          dataVcan3Save,
                          dataVcan4Save,
                          dataVcan5Save,
                          dataVcan6Save,
                          dataVcan7Save
                    ]
                    localStorage.setItem("dictData", JSON.stringify(dataVcanSaveList));
                }
            );
            itemList.appendChild(nodeList);

        }
    }
    $("#addterminalbtn").click(function()
    {
       var termIndexVal =  $("#terminal-nunmber").val();
       var newstr = "<li><a class=\"dropdown-item\" id=\"tm" + termIndexVal + "\" href=\"/terminal/" + termIndexVal + "/\">TM" + termIndexVal + "</a></li>"
       localStorage.setItem("newlink" + termIndexVal, newstr.toString());
       // displayItems(items, itemList)
    });
    displayItems(items, itemList)
    //displayItems(items, itemList)
</script>