{% extends 'base.html' %}

<!-- Page content -->
{% block terminalsContent %}
<h2 class="text-center" id="home" >TERMINAL {{ tmIndex }}</h2>
<main>
    <div class="info-send">
        <div class="center">
           <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Int</th>
                      <th scope="col">Status</th>
                      <th scope="col">Controls</th>
                      <th scope="col">Logs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">vcan0</th>
                      <td>Sleep</td>
                      <td>for values and btns</td>
                      <td>Go to logs</td>
                    </tr>
                    <tr>
                      <th scope="row">vcan1</th>
                      <td>Sleep</td>
                      <td>for values and btns</td>
                      <td>Go to logs</td>
                    </tr>
                    <tr>
                      <th scope="row">vcan2</th>
                      <td>Sleep</td>
                      <td>for values and btns</td>
                      <td>Go to logs</td>
                    </tr>
                  </tbody>
                </table>
           </div>
        </div>
    </div>
</main>




<script type="text/javascript">

</script>
{% endblock terminalsContent %}