{% extends 'base.html' %}

<!-- Page content -->
{% block terminalsContent %}
<h2 class="text-center" id="home" >TERMINAL {{ tmIndex }}</h2>
<div class="container">
  <div class="row row-cols-2">
    <div class="col">
        <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="switchActIntForTerm{{ tmIndex }}">
              <label class="form-check-label" for="switchActIntForTerm{{ tmIndex }}">Activate interfaces</label>
        </div>
    </div>
  </div>
</div>
{% endblock terminalsContent %}