{% extends 'index.html' %}

<!-- Page content -->
{% block nameteble %}
<h3 class="container text-info" id="home" >VCAN0 DF</h3>
{%endblock nameteble%}

{% block idFrame %}
    {% for id in idFrame %}
        <tr>
            <td>
                {{ id }}
            </td>
        </tr>
    {% endfor %}
{% endblock idFrame %}

{% block dlcFrame %}
    {% for dlc in dlcFrame %}
        <tr>
            <td>
                {{ dlc }}
            </td>
        </tr>
    {% endfor %}
{% endblock dlcFrame %}


{% block btnstop %}
<button type="button" class="btn btn-danger" id="{{ interface }} stop" name="{{ interface }}stop">Stop {{ interface }}</button>
{% endblock btnstop %}