{% extends 'index.html' %}

<!-- Page content -->
{% block nameteble %}
<h3 class="container text-info" id="home" >VCAN0 DF</h3>
{%endblock nameteble%}

{% block tableData %}
    {% for queue in queueList %}
        <tr>
            <td>
                queue.idList
            </td>
            <td>
                queue.dlcList
            </td>
            <td>
                queue.dataList
            </td>
        </tr>
    {% endfor %}
{% endblock tableData %}


{% block btnstop %}
<button type="button" class="btn btn-danger" id="{{ interface }} stop" name="{{ interface }}stop">Stop {{ interface }}</button>
{% endblock btnstop %}