{% extends 'index.html' %}

<!-- Page content -->
{% block nameteble %}
<h3 class="container text-info" id="home" >VCAN1 DF</h3>
{%endblock nameteble%}

{% block mainsection %}
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
<tr>
    <td>001</td>
    <td>8</td>
    <td>1 2 3 4 5 6 7 8</td>
</tr>
{% endblock mainsection %}

{% block btnstart %}
<button type="button" class="btn btn-info" id="{{ interface }} start">Start {{ interface }}</button>
{% endblock btnstart %}