* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;  
}

body {
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
  background-color: #EDEDEE;
}

.container {
  display: grid;
  /* margin: 0 auto; */
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: black;
}

img {
  display: block;
  width: 100%;
}


aside {
 height: 100vh;
}

aside .top {
 border-radius: 10px;
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 1.4rem;
}

aside .logo{
 display: flex;
 gap: 0.8rem;padding: 4px;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
  gap: 0.8rem;
}

aside .close {
  display: none;
}

aside .sidebar {
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  /*height: 86vh;*/
  position: relative;
  top: 3rem;
}

aside h3 {
 font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: black;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.8rem;
  transition: all 300ms ease;
}

aside .sidebar a h3 {
  font-size: 1.4rem;
  transition: all 300ms ease;
}

aside .sidebar a.active {
  background: #C7D0E7;
  color: #4565B2;
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: '';
  width: 6px;
  height: 100%;
  background: #4565B2;
}

aside .sidebar a.active span {
  color: #4565B2;
  margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
  color: #4565B2;
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/*.tableFixHead          { overflow: auto; }*/
/*.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }*/

main {
  margin-top: 7rem;
}

main .info-send {
  margin-top: 2rem;
}

main .info-send table{
  background: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius:6px;
  box-shadow: #1a1e21;
  transition: all 300ms ease;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid lightskyblue;
  color: #23282b;
}

main table tbody tr:last-child {
  border: none;
}

.table-responsive {
    max-height:500px;
}

h3 #home {
  font-size: 10px;
}

.right .control_panel {
  margin-top: 5rem;
}

.right .control_panel h2 {
  margin-bottom: 0.8rem;
}

.right .control_panel .control {
  background: white;
  padding: 5px;
  display: flex;
  border-radius: 20px;
  box-shadow: black;
  transition: all 300ms ease;
  gap: 1rem;
  position: relative;
  align-items: center;
  /* margin-left: 2rem; */
  flex-direction: column;
  margin-top: 12px;
}

.right .control_panel .controls-start:hover {
  box-shadow: none;
}