* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 12px;  
}

body {
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
  background-color: #EDEDEE;
}

.container {
  display: grid;
  /* margin: 0 auto; */
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: black;
}

img {
  display: block;
  width: 100%;
}

main {
  margin: 3rem 3rem;
}

main .info-send {
  margin-top: 0.8rem;
}

main .info-send table{
  background: white;
  width: 100%;
  border-radius:6px;
  box-shadow: #1a1e21;
  transition: all 300ms ease;
}

main table tbody td {
  height: 4.8rem;
  border-bottom: 1px solid lightskyblue;
  color: #23282b;
}

main table tbody tr:last-child {
  border: none;
}

.table-responsive {
    max-height:200px;
}

h3 #home {
  font-size: 10px;
}

.nav-link
{
  font-size: 1.5rem;
}

.form-range {
width: 100% !important;
}

main .log_get {
  margin-top: 1.5rem;
}

main .log_get table{
  background: white;
  width: 100%;
  border-radius:6px;
  box-shadow: #1a1e21;
  transition: all 300ms ease;
}